

.header{
    display: flex;
    flex-direction: row;
 
    background-color: rgba(79, 96, 168, 1);
    height: auto;
    width: auto;
}   
.bioclothes{
    width: 180px;
    height: 75px;
}
.logo{
    display: flex;
    flex-direction: row-reverse;
    width: 100px;
    height: 100px;
}

.carousel{
    width: 10px;
    height: 5px;

}


.linha1{ 
    height: 200%;

}
.hr2{
    height: 200%;
}

.produtosimg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.qsomostexto{
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

.quem-somos-images{
    display: flex;
    
    width: 100px;
    height: 100px;
}


footer{
    background-color:rgba(79, 96, 168, 1) ;
}